@import url('https://fonts.googleapis.com/css2?family= Roboto :ital,wght@1,400;1,500 & display=swap');

.fundo-menu{

    width: 100%;
    height: 200px;
    
    }

    .Div-Logo{
  
        position: relative;
        bottom: 173px;
    
    }
    
    .logo{
    
    width: 200px;
    
    }

    .nav-list{
  
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 230px;
        padding-right: 140px;
        float: right;
        
        
        }
        .nav-list ul{
        
        display: flex;
        justify-content: center;
        list-style: none;
        
        }
        
        .nav-item{
        
        margin: 0 15px;
        padding-left: 60px;
        
        }
        
        .nav-item li{
        
            color: white;
        
        }
        
        .nav-link{
        
        font-size: 19px;
        font-weight: 600; 
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        }

        .form-elements{

            width: 600px;
            padding: 90px;
            border: solid 2px purple;
            height: 620px;
            bottom: 20px;
            position: relative;
            box-shadow: 2px 9px 18px purple;
            border-radius: 10%;
            margin-bottom: 50px;
        }

        .form-elements input{


            padding: 0px;
        }

        .div-titulo-form{

            bottom: 60px;
            position: relative;
            padding-top: 7px;
            padding-bottom: 18px;
            border-bottom: solid;
            width: 350px;
        }

        .titulo{

            font-family: 'Roboto', sans-serif;
            font-weight: bold;

        }

        .grupo-input{

            padding-bottom: 23px;
        }

        .grupo-input input{

            width: 100%;
            height: 47px;
            border-radius: 20px;
            border: 2px solid;
            box-shadow: 0 0 3px;
            padding: 15px;
            font-size: 15px;

        }

        .w50{

            width: 50%;
            float: left;
            padding-right: 15px;

        }

        .grupo-input label{

            font-weight: bold;
        }

        .grupo-input button{

            width: 100%;
            height: 47px;
            background-color: purple;
            border: none;
            margin-top: 30px;
            color: white;
            cursor: pointer;
            font-size: 17px;
            font-weight: bold;
            border-radius: 20px;
            box-shadow: 0 2px black;

        }



        footer{
            width: 100%;
            position: absolute;
            height: 190px;
            
          }
          
          .faixa-rodape{
          
          width: 100%;
          height: 326px;
          
          
          }
          
          #footer-element{
          
            display: flex;
            position: relative;
            bottom: 185px;
            height: 170px;
            right: 260px;
          }
          
          .div-logo-rodape{
          
          position: relative;
          bottom: 100px;
          left: 300px;
          
          }
          
          .logo-rodape{
          
          width: 140px;
          
          }
          
          .lista-rodape{
          
          position: relative;
          bottom: 35px;
          left: 200px;
          width: 200px;
          
          }
          
          .list-item{
          
          padding-bottom: 5px;
          list-style: none;
          
          }
          
          .list-link{
          
          text-decoration: none;
          color: white;
          font-family: sans-serif;
          line-height: 1.5 ;
          
          }
          
          .lista-rodape-criadores{
          
          position: relative;
          bottom: 35px;
          left: 230px;
          width: 200px;
          
          }
          
          .list-item-criadores{
          
          list-style: none;
          line-height: 1;
          
          
          }
          
          .lista-nomes-rodape{
          
          color: white;
          
          }
          
          .titulos-rodape{
          
          font-family: sans-serif;
          font-size: 20px;
          font-weight: bold;
          
          }
          
          
          #email-rodapé{
          
          position: relative;
          bottom: 35px;
          left: 300px;
          width: 200px;
          
          }
          
          .text-alguma-ajuda{
          
          color: white;
          line-height: 1.5;
          font-family: sans-serif;
          }
          
          
          #botao-rodape{
          
            background-color: white;
            color: black;
            cursor: pointer;
            border: none;
            font-weight: 700;
            padding: 4px;
            width: 60px;
            border-radius: 50%;
            position: relative;
            left: 48px;
            
          }
          
          @media screen and (max-width:768px) {
            
            #footer-element{
          
          position: relative;
          right: 260px;
          top: -483px;
          height: 119px;
          
            }
          
            .faixa-rodape{
          
                height: 300px;
                width: 100%;
                object-fit: cover;
          
            }
          
            .lista-rodape{
                height: 200px;
            }
          
            .lista-rodape-criadores{
          
                height: 200px;
          
            }
          
            #email-rodapé{
          
               height: 200px;
               position: relative;
               top: 180px;
               left: -30px;
            }
          
            .faixa-rodape{
          
                height: 590px;
            }
          
            .div-logo-rodape{  
          
            position: relative;
            bottom: 106px;
            left: 285px;
            padding-top: 5px;
          }
            
          }
        