
body {
  background-color: white;
  overflow-x: hidden;
  margin: 0 auto;
}

.fundo-menu{

  width: 100%;
  height: 200px;
  
  }
  
  .Div-Logo{
  
      position: relative;
      bottom: 173px;
  
  }
  
  .logo{
  
  width: 200px;
  
  }
  
  .nav-list{
  
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 230px;
  
  
  }
  .nav-list ul{
  
  display: flex;
  justify-content: center;
  list-style: none;
  
  }

  .nav-bar{

    height: 255px;
  }
  
  .nav-item{
  
  margin: 0 15px;
  padding-left: 60px;
  
  }
  
  .nav-item li{
  
      color: white;
  
  }
  
  .nav-link{
  
  font-size: 18px;
  font-weight: 500; 
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  }
  
  .botao-menu-mobile button{
  
  border: none;
  background-color: white;
  padding: 10px 15px;
  border-radius: 5px;
  width: 170px;
  position: relative;
  left: 15px;
  
  }
  
  .botao-menu-mobile a{
  
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  
  }
  
  .mobile-menu-icone{
  
  display: none;
  
  }
  
  .icone-mobile{
  
  width: 40px;
  
  }
  
  .menu-mobile{
  
  position: relative;
  bottom: 320px;
  
  }
  
  .mobile-menu-icone{
  
  position: relative;
  bottom: 380px;
  left: 400px;
  
  }
  .nav-item-mobile{
  
  display: flex;
  justify-content: center;
  list-style: none;
  
  }
  
  .botao-menu-mobile{
  
  display: flex;
  justify-content: center;
  
  }
  
  .nav-link-mobile{
  
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  padding-bottom: 9px;
  
  }
  
  .nav-link-mobile{
  
  color: white;
  
  }
  
  .mobile-menu-icone button{
  
  background-color: transparent;
  border: none;
  cursor: pointer;
  
  }
  
  .menu-mobile{
  
  display: none;
  
  }
  
  @media screen and (max-width: 1000px){
  

    .nav-item{

      display: flex;
      position: relative;
      left: 110px;
      margin-left: -30px;


    }
  }


  @media screen and (max-width: 730px){
  
  
      .Div-Logo{
  
          position: relative;
          bottom: 385px;
  
      }
      
      .nav-item{
          display: none;
      }
      .mobile-menu-icone{
  
          position: relative;
          bottom: 455px;
      }
      .mobile-menu-icone{
          display: block;
          width: 50px;
      }
      .menu-mobile{
          position: relative;
          bottom: 125px;
  
      }
     .fundo-menu{
      height: 400px;
     }
  
     .open{
  
      display: block;
      
      }
      
  }


.faixa-inicial{

width: 100%;


}

.faixa-inicial img{

  width: 100%;


}


.into {
  margin-top: 10px;
}



.into p {

  position: relative;
  margin-top: 35px;
  font-family: sans-serif;
  font-size: 23px;

}

#barra-cor-curriculo{

width: 100%;
height: 600px;
background-color: Lavender;



}


.img-layout img {


  position: relative;
  left: 313px;
  bottom: 202px;

}

.text-curriculo {
  position: relative;
  bottom: 154px;
  left: 138px;
}

.text-curriculo p {

  position: relative;
  left: 124px;
  bottom: 204px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 25px;

}


#teste-vocacional {

  position: relative;
  top: 310px;
  right: 110px;



}

#teste-vocacional p {

  position: relative;
  left: 124px;
  bottom: 204px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 25px;

}

#barra-cor {

  background-color: #DEB4F0;
  width: 700px;
  left: 275px;
  height: 350px;
  position: relative;
  bottom: -183px;

}

#barra-cor {

  border-radius: 40px;

}



#imagem-maos {

  width: 430px;
  border-radius: 10%;
  left: 258px;
  bottom: -139px;

}



#imagem-maos2 {

  width: 358px;

}

#boneco-gabe {

  position: relative;
  left: 202px;
  width: 169px;
  bottom: 196px;
}



.img-gabe2 {

  width: 441px;
  position: relative;
  bottom: 403px;
  left: 43px;
  border: solid 1px gray;
  border-radius: 10%;
}


.img-layout {

  position: relative;
  margin-top: 182px;
  right: 190px;

}

#barra-cor-junte-se{

width: 100%;
height: 750px;
background-color: Lavender;

}

#container-junte-se{

  position: relative;
  top: 61px;
  width: 400px;
  left: 35%;
}

.img-maos{

width: 200px;
position: relative;
left: 100px;

}

.img-maos img{

  width: 100%;
  
}


.ultimo-text{
  position: relative;
  top: 10px;

}

.ultimo-text h2 {

  font-family: fantasy, sans-serif;
  text-align: center;
  color: Indigo;
}

.ultimo-text p {

  position: relative;
  margin-top: 35px;
  font-size: 23px;
  text-align: center;
  line-height: 2;
  font-weight: 700;
  font-family: sans-serif;

}

.botao-junte-se{

  position: relative;
  bottom: -31px;
  left: 150px;
  background-color: white;
  font-weight: 600;
  text-decoration: none;
  border: solid 2px;
  border-radius: 10%;
  padding: 6px;
  box-shadow: 2px 3px;
}

@media all and (max-width: 730px){

  .img-layout {

    position: relative;
    right: 190px;
  }
#imagem-maos{

  display: none;
}

#img-gabe{
  
  width: 330px;
  position: relative;
  top: 250px;
  right: 50px;
}

.img-gabe2{

  width: 100%;
}

.text-curriculo{

  position: relative;
  top: 300px;
  left: -35px;
  width: 305px;
}

.text-curriculo p{

  font-family: sans-serif;
  font-weight: 600;
  font-size: 25px;
}

#boneco-gabe{

  display: none;
}

#barra-cor{

  background-color: #DEB4F0;
  width: 100%;
  height: 350px;
  position: relative;
  margin-bottom: 20px;
  left: 0px;
  bottom: 0px;
}

#container-junte-se{

  position: relative;
  top: 61px;
  width: 400px;
  left: 5%;
}


}



footer{
  width: 100%;
  position: absolute;
  height: 190px;
  
}

.faixa-rodape{

width: 100%;
height: 326px;


}

#footer-element{

  display: flex;
  position: relative;
  bottom: 185px;
  height: 170px;
  right: 260px;
}

.div-logo-rodape{

position: relative;
bottom: 100px;
left: 300px;

}

.logo-rodape{

width: 140px;

}

.lista-rodape{

position: relative;
bottom: 35px;
left: 200px;
width: 200px;

}

.list-item{

padding-bottom: 5px;
list-style: none;

}

.list-link{

text-decoration: none;
color: white;
font-family: sans-serif;
line-height: 1.5 ;

}

.lista-rodape-criadores{

position: relative;
bottom: 35px;
left: 230px;
width: 200px;

}

.list-item-criadores{

list-style: none;
line-height: 1;


}

.lista-nomes-rodape{

color: white;

}

.titulos-rodape{

font-family: sans-serif;
font-size: 20px;
font-weight: bold;

}


#email-rodapé{

position: relative;
bottom: 35px;
left: 300px;
width: 200px;

}

.text-alguma-ajuda{

color: white;
line-height: 1.5;
font-family: sans-serif;
}


#botao-rodape{

  background-color: white;
  color: black;
  cursor: pointer;
  border: none;
  font-weight: 700;
  padding: 4px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  left: 48px;
  
}

@media screen and (max-width:768px) {
  
  #footer-element{

position: relative;
right: 260px;
top: -485px;
height: 60px;

  }

  .faixa-rodape{

      height: 300px;
      width: 100%;
      object-fit: cover;

  }

  .lista-rodape{
      height: 200px;
      left: 160px;
  }

  .lista-rodape-criadores{

      height: 200px;

  }

  #email-rodapé{

     height: 250px;
     position: relative;
     top: 171px;
     left: -57px;
  }

  .faixa-rodape{

      height: 590px;
  }

  .div-logo-rodape{  

  position: relative;
  bottom: 106px;
  left: 285px;
  margin-top: 15px;
  height: 50px;
}
  
.titulos-rodape{

  margin-bottom: 0;
}

#botao-rodape{

  left: 0;
}

}

